/*-------- VARIABLES --------*/
$font-family-sans-serif: 'Mulish', sans-serif;
$primary: #5265e1;
$secondary: #fa5959;
$light-bg: #f7f7f7;
$light-text: #5b5a68;
$light-border: #f7f7f7;
$light-hover-bg: #fff;
$light-hover-text: #5b5a68;
$light-hover-border: #5b5a68;

$accordion-button-icon: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill-rule:evenodd;clip-rule:evenodd;fill:%235265E1;%7d %3c/style%3e%3cpath class='st0' d='M1.6,4.6c0.2-0.2,0.5-0.2,0.7,0c0,0,0,0,0,0L8,10.3l5.6-5.6c0.2-0.2,0.5-0.2,0.7,0s0.2,0.5,0,0.7l-6,6 c-0.2,0.2-0.5,0.2-0.7,0c0,0,0,0,0,0l-6-6C1.5,5.2,1.5,4.8,1.6,4.6C1.6,4.6,1.6,4.6,1.6,4.6z'/%3e%3c/svg%3e");

$accordion-button-active-icon: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill-rule:evenodd;clip-rule:evenodd;fill:%23FA5959;%7d %3c/style%3e%3cpath class='st0' d='M1.6,4.6c0.2-0.2,0.5-0.2,0.7,0c0,0,0,0,0,0L8,10.3l5.6-5.6c0.2-0.2,0.5-0.2,0.7,0s0.2,0.5,0,0.7l-6,6 c-0.2,0.2-0.5,0.2-0.7,0c0,0,0,0,0,0l-6-6C1.5,5.2,1.5,4.8,1.6,4.6C1.6,4.6,1.6,4.6,1.6,4.6z'/%3e%3c/svg%3e ");

$navbar-light-toggler-icon-bg-closed: url('../img/icon-close.svg');
$navbar-light-toggler-icon-bg-open: url('../img/icon-hamburger.svg');
$navbar-toggler-icon-bg: $navbar-light-toggler-icon-bg-open;

/*-------- Importar el archivo SCSS de Boostrap --------*/
@import '../node_modules/bootstrap/scss/bootstrap';

/*-------- GENERAL STYLE --------*/
html,
body {
  overflow-x: hidden;
}

header,
main {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  font-weight: 500 !important;
  text-decoration: unset !important;
}

a:hover {
  color: $secondary !important;
}

ul {
  list-style: none;
}

.btn {
  font-weight: 500 !important;
}

/*-------- NAV --------*/
.navbar {
  display: flex !important;
  align-items: flex-start !important;
  .nav-link {
    color: $white;
    font-weight: 700 !important;
  }
  .navbar-brand svg {
    fill: #fff;
  }
  .offcanvas {
    background: rgba(46, 52, 78, 0.8);
    width: 100% !important;
  }
  .open {
    background-image: $navbar-light-toggler-icon-bg-open;
  }
  .btn-close {
    background-image: $navbar-light-toggler-icon-bg-closed;
    opacity: inherit;
  }
  .btn-navbar {
    background-color: unset;
    color: $white;
    border-color: #fa5959;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .navbar-nav .border-top,
    .navbar-nav .border-bottom {
      border: 0 !important;
    }
    .nav-link {
      font-weight: 700 !important;
      color: var(--bs-nav-link-color);
    }
    .btn-navbar {
      background-color: $secondary;
      color: $white;
      &:hover {
        border-color: $secondary;
        background-color: $white;
        color: $secondary;
      }
    }
    .redes {
      display: none;
    }
  }
}

/*-------- HEADER --------*/
.header {
  .bg-illustration-right {
    position: absolute;
    width: 80%;
    height: 80%;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    border-radius: 30% 0 0 30%;
  }

  @media (min-width: 768px) {
    .header-left {
      padding: 0rem 2rem;
    }
  }
  @media (min-width: 992px) {
    .header-left {
      padding: 0rem 3rem;
    }
  }
  @media (min-width: 1200px) {
    h1 {
      font-size: 3rem;
    }
    .header-left {
      padding: 0rem 5rem;
    }
  }
}

/*-------- MAIN --------*/
/*-------- Features */
.features {
  :focus-visible {
    outline: unset;
  }

  .nav-tabs {
    width: 100%;
    --bs-nav-tabs-border-width: 0px;
    .nav-link {
      color: inherit;
      font-weight: 500;
      border: 0;
      &:hover,
      &:focus {
        border: 0;
      }
      &.active {
        border-bottom: 3px solid $secondary;
        font-weight: 600;
      }
    }
  }

  .bg-features-left {
    position: absolute;
    width: 80%;
    height: 96%;
    top: 20%;
    z-index: -1;
    border-radius: 0 30% 30% 0;
  }

  .img-fluid {
    max-width: 90%;
    height: auto;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .nav-tabs {
      width: fit-content;
      border-bottom: 1px solid var(--bs-nav-tabs-border-color);
      .nav-item {
        width: initial !important;
        border-top: 0 !important;
        border-bottom: 0 !important;
      }
      .nav-link:hover {
        color: $secondary;
      }
    }
    .img-fluid {
      max-width: 100%;
      height: auto;
    }
    .features-right {
      padding: 0rem 3rem;
    }

    .bg-features-left {
      position: absolute;
      width: 80%;
      height: 100%;
      top: 20%;
      z-index: -1;
      border-radius: 0 30% 30% 0;
    }
  }

  @media (min-width: 992px) {
    .features-img {
      width: 87% !important;
      margin-bottom: 5rem;
    }
    .features-right {
      padding: 0rem 5rem;
    }

    .bg-features-left {
      height: 80%;
    }
  }
}

/*-------- Download */
.download {
  .card {
    width: 16.25rem !important;
    overflow: hidden;
    box-shadow: 0px 0.66rem 0.575rem rgba(91, 90, 104, 0.07);
    height: max-content;
  }

  @media (min-width: 992px) {
    .cards {
      .card {
        @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
            margin-top: 2rem * $i - 1rem;
          }
        }
      }
    }
  }

  @media (min-width: 1200px) {
    .cards {
      width: 78%;
    }
  }
  @media (min-width: 1400px) {
    .cards {
      width: 66%;
    }
  }
}

/*-------- FAQS */
.faqs {
  .accordion-button {
    font-weight: 600;
    &:hover {
      color: $secondary;
    }
    &:not(.collapsed) {
      background-color: #fff !important;
    }
    &:focus {
      box-shadow: unset !important;
    }
  }
}

/*-------- Form */
.form {
  .was-validated .form-control:invalid,
  .form-control.is-invalid {
    border-color: var(--bs-form-invalid-border-color);
    padding-right: calc(1.5em + 0.75rem);
    background-image: url('../img/icon-error.svg') !important;
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  }
  .invalid-feedback {
    margin-top: 0 !important;
  }

  @media (min-width: 768px) {
    .form-input {
      width: 40%;
    }
    .form-submit {
      width: auto;
    }
  }

  @media (min-width: 992px) {
    .container {
      max-width: 90%;
    }
  }
}

/*-------- FOOTER --------*/
.footer {
  background-color: #242946;
  ul {
    a {
      color: #fff;
      &:hover svg path {
        fill: $secondary;
      }
    }
  }
}

/*-------- GENERAL QUERIES --------*/
@media (min-width: 992px) {
  .width-lg-60 {
    width: 60%;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .width-xl-50 {
    width: 50%;
  }
}

/*-------- PERZONALIZAR BOTONES --------*/
.btn-primary {
  @include button-variant(
    $primary,
    $primary,
    $white,
    $white,
    $primary,
    $primary
  );
}

.btn-secondary {
  @include button-variant(
    $secondary,
    $secondary,
    $white,
    $white,
    $secondary,
    $secondary
  );
}

.btn-light {
  @include button-variant(
    $light-bg,
    $light-border,
    $light-text,
    $light-hover-bg,
    $light-hover-border,
    $light-hover-text
  );
}
